.App {
  /* text-align: center; */
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

body {
  background-color: rgb(26, 26, 26);
  color: #1a1a1a;
}

.SideBar {
  width: 230px;
  background-color: #ece8e1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* padding-top: 40px; */
  position: fixed;
  overflow-y: scroll;
  height: calc(100% - 40px);
}

.SideHeaders {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}


.Logo {
  margin: auto;
  width: 300px;
  margin: 40px auto;
  /* margin: 30px; */
}

.Items {
  padding: 20px;
  width: 80%;
  align-items: flex-start;
  margin-left: calc(250px + 40px);
  display: flex;
  flex-direction: column;
}

.ItemsWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

label { 
  color: #ece8e1;
}

.WeaponItem {
  width: 250px;
  /* margin: 20px; */
  /* background-color: #ff4655; */
  background-color: #ece8e1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 300px; */
}

.ItemTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ItemInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 40px;
}

.ItemName, .ItemCategory, .ItemCost {
  margin: 0;
}

.ItemImg {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ItemImg img {
  max-width: 100%;
  max-height: 100%;
}

.ItemNameType {
  display: flex;
  flex-direction: column;
}

.ItemName {
  font-size: 20px;
}

.ItemCost {
  font-size: 18px;
}

.ItemAddBtn {
  /* position: relative; */
  display: inline-block;
  /* width: auto; height: auto; */
  background-color: #ff4655;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  /* min-width: 150px; */
  /* border: solid #ff4655 1px; */
  padding: 15px 70px;
  font-weight: bold;
  transition: all ease-in-out 0.2s;
  color: #ece8e1;
  width: 100%;
}

.ItemAddBtn:hover {
  background-color:rgb(56, 56, 56);
  /* border: solid rgb(56, 56, 56) 1px; */
  color: #ece8e1;
}

.Cart {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.CartItemWrapper {
  display: flex;
  flex-direction: row;
  /* gap: 10px; */
  background-color: #dfd9d1d7;
  padding: 20px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
  justify-content: space-between;
  
}

.CartItemInfo {
  text-align: right;
}

.CartItemImg {
  width: 90px;
}

.CartItemImg img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 4px;
}

.ChangeQuantity{
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

.filtersHeader {
  margin: 0;
}

#CartHeader {
  margin-top: 40px;
}

#CheckoutBtn {
  background-color: #ff4655;
}

.qtyBtn :hover{
  cursor: pointer;
}

.CartItemPrice {
  margin-top: 5px;
  color: #575757;
}